<p id="notice"><%= notice %></p>
<section class="container-fluid padding-bottom-3x">
  <!-- Sidebar Toggle / visible only on mobile -->
  <div class="sidebar-toggle">
    <i class="material-icons filter_list"></i>
  </div>

  <div class="row padding-top">
<!-- Sidebar (Filters) -->
    <div class="col-lg-2 col-md-3 col-sm-4">
      <aside class="sidebar">
        <span class="sidebar-close"><i class="material-icons close"></i></span>
        <div class="widgets">
          <% if defined? @categories %>
            <!-- Categories Widget -->
            <div class="widget widget-categories">
              <h3 class="widget-title">Categories</h3>
              <ul>
                <% @categories.each do |category| %>
                  <li><input type='checkbox' data-type='checkbox-category' value='<%= category.id %>'/> <%= category.name %></li>
                <% end %>
              </ul>
            </div><!-- .widget.widget-categories -->
          <% end %>

          <% if defined? @brands %>

            <!-- Brands Widget -->
            <div class="widget widget-categories widget-brands">
              <h3 class="widget-title">Brands</h3>
              <ul>
                <% @brands.each do |brand| %>
                  <li><input type='checkbox' data-type='checkbox-brand' value='<%= brand.id %>'/> <%= brand.name %></li>
                <% end %>
              </ul>
            </div><!-- .widget.widget-categories -->
          <% end %>

          <!-- Price Range Widget -->
          <!-- Please note: Only one Range Slider allowed on the page! -->
          <div class="widget widget-catesgories widget-price-range">
            <h3 class="widget-title">Price Range</h3>
            <form method="post" class="price-range-slider" data-start-min="<%= @minimum_price %>" data-start-max="<%= @maximum_price %>" data-min="<%= @minimum_price %>" data-max="<%= @maximum_price %>" data-step="1">
              <div class="ui-range-slider"></div>
              <footer class="ui-range-slider-footer">
                <div class="column">
                </div>
                <div class="column">
                  <div class="ui-range-values">
                    <div class="ui-range-value-min">
                      $<span></span>
                      <input type="hidden">
                    </div> -
                    <div class="ui-range-value-max">
                      $<span></span>
                      <input type="hidden">
                    </div>
                  </div>
                </div>
              </footer>
            </form><!-- .price-range-slider -->
          </div><!-- .widget.widget-categories -->
        </div><!-- .widgets -->
        <button class='apply-filters btn btn-ghost btn-sm btn-success'>Apply Filters</button>
      </aside><!-- .sidebar -->
    </div><!-- .col-md-3.col-sm-4 -->
    <div class="col-lg-10 col-md-9 col-sm-8">
      <!-- Shop Bar -->
      <div class="shop-bar">
        <div class="column">
          <p class="text-sm space-bottom-none">
          <span class="text-gray">Showing</span> <%= @listings.offset+1 %>-<%= (@listings.offset + @listings.per_page) %> of <%= @listings.total_entries %>
          </p>
        </div><!-- .column -->
        <div class="column">
          <%= search_form_for @q do |f| %>
            <%= f.label :title_cont %>
            <%= f.search_field :title_cont %>

            <%= f.submit %>
          <% end %>
          <%# <form method="get" action='search' class="search-box">
            <input type="text" class="form-control" name='q' placeholder="Search shop">
            <button type="submit">
              <i class="material-icons search"></i>
            </button>
          </form><!-- form.search-box --> %>
        </div><!-- .column -->
      </div><!-- .shop-bar -->
      <div class="row">
        <%= render 'listings/partials/listings_container' %>
      </div>
      <%= will_paginate @listings %>
      <br>
    </div>
  </div>
</section>

