<% @listings.each do |listing| %>

  <!-- Item -->
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="shop-item">
      <div class="shop-thumbnail">
        <span class="shop-label text-danger"><%= listing.category.name %></span>
        <%= link_to "", listing, class: 'item-link' %>
        <%= image_tag listing.first_image, height: 300, width: 400 %>
        <div class="shop-item-tools">
          <a class="add-to-whishlist" data-toggle="tooltip" data-id="<%= listing.id %>" data-placement="top" title="Wishlist"
            <% if @wishlists.include? listing.id %>
                 style="background-color: red; color: white" data-favourite="true"
               <% end%>
          >
          <i class="material-icons favorite_border"></i>
          </a>
        </div>
      </div>
      <div class="shop-item-details">
        <h3 class="shop-item-title"><%= link_to listing.title, listing %></h3>
        <span class="shop-item-price">
          $<%= listing.price %>        
        </span>
      </div>
    </div><!-- .shop-item -->
  </div><!-- .col-md-4.col-sm-6 -->
<% end %>
