<p id="notice"><%= notice %></p>


<section class="container-fluid padding-top-3x">
  <h1 class="space-top-half tablet-center">Viewing All Categories</h1>
</section>

<table>
  <thead>
    <tr>
			<th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
				<td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
      </tr>
    <% end %>
  </tbody>
</table>



