<p id="notice"><%= notice %></p>

<section class="container-fluid padding-top-3x">
				<h1 class="space-top-half tablet-center"><%= @category.name %></h1>
</section>

<%= render 'listings/partials/filters_and_listings' %>


