<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "login-form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address' %>
  </div>
	
	<div class="field">
    <%= f.text_field :name, autofocus: true , class: 'form-control', placeholder: 'Full Name' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password confirmation' %>
  </div>

  <div class="form-footer">
						<div class='form-submit'></div>
						<div class='form-submit'>
								<%= f.submit "Sign up", class: "btn btn-primary btn-block waves-effect waves-light" %>
						</div>
  </div>
<% end %>
