<%= form_with(model: listing, html: { multipart: true, :class => 'login-form' }, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
		<%= form.collection_select :brand_id, @brands, :id, :name, class: 'form-control' %>
  </div>

	<div class="field">
		<%= form.label :category %>
		<%= form.collection_select :category_id, @categories, :id, :name, class: 'form-control' %>
	</div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :listing_title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :listing_description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :listing_price, class: 'form-control' %>
  </div>

	<div class="field">
		<%= form.label :colour_list %>
		<%= form.text_field :colour_list, id: :listing_colour_list, class: 'form-control' %>
	</div>

  <%= file_field_tag "images[]", type: :file, multiple: true, class: 'form-control' %>

  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-ghost' %>
  </div>
<% end %>
