<section class="container-fluid padding-top-3x">
				<h1 class="space-top-half tablet-center">All Listings</h1>
</section>

<section class="container-fluid padding-bottom-3x">

<%= render 'listings/partials/filters_and_listings' %>
