<section class="container"
		<div class="row">
				<div class="col-md-12 col-sm-12">
						<h1>Add a new listing</h1>
				</div>
				<div class="col-md-12 col-sm-12">
						<%= render 'form', listing: @listing %>

						<%= link_to 'Back', listings_path %>
				</div>
		</div>
</section>
