<section class="container">
	<div class="row">
			<h1>Making an offer for <%= link_to @offer.listing.title, @offer.listing %></h1>
		<div class="col-md-3 col-sm-4">
			<%= render 'offers/form', offer: @offer %>
		</div>
		<div class="col-mad-offset-1 col-sm-8">
			<a href="<%= listings_url + "/" + @offer.listing.slug %>"><%= image_tag @offer.listing.first_image, height: 541, width: 600 %></a>
		</div>
	</div>
</section>
