<!-- Pager + Product Gallery -->
<section class="fw-section bg-gray padding-top-3x">
  <div class="container padding-top">
		<p id="notice" class="text-success"><%= notice %></p>
    <!-- Product Gallery -->
    <div class="product-gallery">
      <!-- Preview -->
      <ul class="product-gallery-preview">
        <% @listing.listing_images.each_with_index do |image, i| %>
          <li <% if i == 0 %>class="current"<% end %> id="preview<%= image.id %>"><%= image_tag image.image.url, height: 541, width: 600 %></li>
        <% end %>
      </ul><!-- .product-gallery-preview -->
      <!-- Thumblist -->
      <ul class="product-gallery-thumblist">
        <% @listing.listing_images.each_with_index do |image, i| %>
          <li <% if i == 0 %>class="active"<% end %>><a href="#preview<%= image.id %>">
            <%= image_tag image.image.url(:thumbnail) %>
          </a></li>
        <% end %>
      </ul><!-- .product-gallery-thumblist -->
    </div><!-- .product-gallery -->
  </div><!-- .container -->
</section><!-- .fw-section.bg-gray -->

<!-- Product Info -->
<section class="fw-section bg-gray padding-bottom-3x">
  <div class="container">
    <div class="product-info padding-top-2x text-center">
      <h1 class="h2 space-bottom-half"><%= @listing.title %></h1>
      <h2>$<%= @listing.price %></h2>
      <p class="text-sm text-gray"><%= @listing.description %></p>
      <div class="product-meta">
        <div class="product-category">
          <strong>Category: </strong>
          <%= link_to @listing.category.name, @listing.category %>
        </div>
      </div><!-- .product-meta -->
      <div class="product-tools shop-item">
        <a href="<%= offer_listing_path @listing %>" class="add-to-cart">
          <em>Make an offer</em>
          <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
            <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
          </svg>
        </a><!-- .add-to-cart -->
      </div><!-- .product-tools -->
    </div><!-- .product-info -->
  </div><!-- .container -->
</section><!-- .fw-section.bg-gray -->

<!-- Product Tabs -->
<section class="container padding-top-2x">
  <!-- Nav Tabs -->
  <ul class="nav-tabs text-center" role="tablist">
    <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
    <li><a href="#additional" role="tab" data-toggle="tab">Additional Info</a></li>
  </ul><!-- .nav-tabs -->
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane transition fade in active" id="description">
      <div class="row space-top">
        <div class="col-md-12">
          <p><%= @listing.description %></p>
        </div>
      </div>
    </div><!-- .tab-pane -->
    <div role="tabpanel" class="tab-pane transition fade" id="additional">
      <div class="row space-top">
        <div class="col-md-6">
          <table class="table-no-border">
            <tr>
              <th>Weight</th>
              <td>2.65 kg</td>
            </tr>
            <tr>
              <th>Dimensions</th>
              <td>120 x 75 x 90 cm</td>
            </tr>
            <tr>
              <th>Materials</th>
              <td>40% wood, 37% cotton, 23% plastic</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table-no-border">
            <tr>
              <th>Colors</th>
              <td>Blue, Creme, Orange, Red</td>
            </tr>
            <tr>
              <th>Manufacturer</th>
              <td>Norway</td>
            </tr>
            <tr>
              <th>Other Info</th>
              <td>Repellendus ea laudantium pariatur eum.</td>
            </tr>
          </table>
        </div>
      </div>
    </div><!-- .tab-pane -->
  </div><!-- .tab-content -->
</section><!-- .container -->
