<footer class="footer space-top-2x">
      <div class="column">
        <p class="text-sm">Need support? Call <span class="text-primary">+61420000000 </span></p>
        <div class="social-bar text-center space-bottom">
          <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
            <i class="socicon-skype"></i>
          </a>
          <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
            <i class="socicon-facebook"></i>
          </a>
          <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
            <i class="socicon-googleplus"></i>
          </a>
          <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
            <i class="socicon-twitter"></i>
          </a>
          <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
            <i class="socicon-instagram"></i>
          </a>
        </div><!-- .social-bar -->
        <p class="copyright">&copy; 2017. Made with <i class="text-danger material-icons favorite"></i> by lachlan.</p>
      </div><!-- .column -->
      <div class="column">
        <h3 class="widget-title">
          Subscription
          <small>To receive latest offers and discounts from the shop.</small>
        </h3>
        <form action="" method="post" target="_blank" class="subscribe-form" novalidate>
          <input type="email" class="form-control" name="EMAIL" placeholder="Your e-mail">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1" value=""></div>
          <button type="submit"><i class="material-icons send"></i></button>
        </form>
      </div><!-- .column -->
      <div class="column">
        <h3 class="widget-title">
          Payment Methods
          <small>We support one of the following payment methods.</small>
        </h3>
        <div class="cards"><img src="img/cards.png" alt="Cards"></div>
        <!-- Scroll To Top Button -->
        <div class="scroll-to-top-btn"><i class="material-icons trending_flat"></i></div>
      </div><!-- .column -->
    </footer><!-- .footer -->
