<header class="navbar navbar-sticky">
	<!-- Site Logo -->
	<a href="<%= root_path %>" class="site-logo visible-desktop">
		<span>[</span> HUNTER <span>]</span>
	</a><!-- site-logo.visible-desktop -->
	<a href="<%= root_path %>" class="site-logo visible-mobile">
		<span>[</span> HUNTER <span>]</span>
	</a><!-- site-logo.visible-mobile -->

	<!-- Main Navigation -->
	<!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
	<nav class="main-navigation text-center">
		<ul class="menu">
			<li><%= link_to "Add a Listing", new_listing_path %></li>
			<li><%= link_to "Designers", brands_featured_path %></li>
			<li><%= link_to "All Listings", listings_path %></li>
			<li><%= link_to "Categories", category_index_path %></li>
			<% if user_signed_in? %>
        <li><%= link_to "Offers", offers_path %></li>
      <% end %>
		</ul><!-- .menu -->
	</nav><!-- .main-navigation -->
	<div class="toolbar">
		<div class='inner'>
			<a class="mobile-menu-toggle"><i class="material-icons menu"></i></a>
			<% if user_signed_in? %>
					<%= link_to edit_user_registration_path do %>
						<i class="material-icons person"></i>
					<% end %>
					<%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
			<% else %>
				<%= link_to login_index_path do %>
						<i class="material-icons person"></i>
				<% end %>
			<% end %>
		</div>
	</div><!-- .toolbar -->
</header>
