<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'login-form' }) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
  </div>

		<div class='form-footer'>
						<% if devise_mapping.rememberable? -%>
								<div class='rememberme'>
										<%= f.check_box :remember_me %>
										<%= f.label :remember_me %>
								</div>
						<% end -%>

    <%= f.submit "Log in", class: "btn btn-primary btn-block waves-effect waves-light" %>
  </div>
<% end %>
