<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :listing_id, id: :offer_listing_id, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :offer_price, placeholder: offer.listing.price %>
  </div>

  <div class="actions">
    <%= form.submit "Make an offer", class: "btn btn-success btn-ghost" %>
  </div>
<% end %>
