<p id="notice"><%= notice %></p>

<!-- Content -->
<section class="container padding-top-3x">
  <h1 class="mobile-center">Hey, <span class="text-semibold"><%= current_user.name %></span></h1>
  <div class="row padding-top">
    <div class="col-sm-12 padding-bottom-3x">
      <!-- Nav Tabs -->
      <ul class="nav-tabs mobile-center" role="tablist">
        <li class='active'><a href="#active" role="tab" data-toggle="tab">
          <i class="material-icons shopping_basket"></i>
          Active Offers (<%= @active_offers.count %>)
        </a></li>
        <li><a href='#completed' role='tab' data-toggle="tab">
          <i class="material-icons receipt"></i> 
          Completed Offers (<%= @completed_offers.count %>)
        </a></li>
        <li><a href='#activelistings' role='tab' data-toggle="tab">
          <i class="material-icons store"></i>
          Active Listings (<%= @active_listings.count %>)
        </a></li>
        <li><a href='#completedlistings' role="tab" data-toggle="tab">
          <i class="material-icons done"></i>
          Completed Listings (<%= @completed_listings.count %>)
        </a></li>
        <li><a href="#wishlist" role="tab" data-toggle="tab">
          <i class="material-icons favorite"></i>
          Wishlist (<%= @wishlists.count %>)
        </a></li>
      </ul><!-- .nav-tabs -->

      <!-- Tab Panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane transition fade scale in active" id="active">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Listing</th>
                  <th>Date Offered</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @active_offers.each do |offer| %>
                  <tr>
                    <td><%= image_tag offer.listing.first_image, height: 40, width: 40 %>
                    <td><%= link_to offer.listing.title, offer %></td>
                    <td><%= offer.created_at %></td>
                    <td><%= offer.price %></td>
                    <td><span class='<%= offer.stage_class %>'><%= offer.print_stage %></span></td>
                    <td>
                      <% if offer.stage == 2 %>
                        <%= link_to 'Make Payment', express_checkout_offer_path(offer), class: 'btn btn-sm btn-success' %>
                      <% end %>
                      <% unless offer.stage == 3 %>
                        <%= link_to 'Remove Offer', offer,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- .tab-pane#active -->
        <div role="tabpanel" class="tab-pane transition fade scale in" id="completed">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Listing</th>
                  <th>Date Offered</th>
                  <th>Price</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @completed_offers.each do |offer| %>
                  <tr>
                    <td><%= image_tag offer.listing.first_image %>
                    <td><%= link_to offer.listing.title, offer %></td>
                    <td><%= offer.created_at %></td>
                    <td><%= offer.price %></td>
                    <td><span class='<%= offer.stage_class %>'><%= offer.print_stage%></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- .tab-pane# -->
        <div role="tabpanel" class="tab-pane transition fade scale in" id="activelistings">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Listing</th>
                  <th>Date Offered</th>
                  <th>Price</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @active_listings.each do |offer| %>
                  <tr>
                    <td><%= image_tag offer.listing.first_image %>
                    <td><%= link_to offer.listing.title, offer %></td>
                    <td><%= offer.created_at %></td>
                    <td><%= offer.price %></td>
                    <td>
                      <% if offer.stage == 1 %>
                        <%= link_to "Accept Offer", accept_offer_path(offer), class: 'btn btn-sm btn-success' %>
                        <%= link_to "Decline Offer", decline_offer_path(offer), class: 'btn btn-sm btn-danger' %>
                      <% else %>
                        <span class='<%= offer.stage_class %>'><%= offer.print_stage %></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- .tab-pane# -->
        <div role="tabpanel" class="tab-pane transition fade scale in" id="completedlistings">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Listing</th>
                  <th>Date Offered</th>
                  <th>Price</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @completed_listings.each do |offer| %>
                  <tr>
                    <td><%= image_tag offer.listing.first_image %>
                    <td><%= link_to offer.listing.title, offer %></td>
                    <td><%= offer.created_at %></td>
                    <td><%= offer.price %></td>
                    <td>
                      <% if offer.stage == 1 %>
                        <%= link_to "Accept Offer", accept_offer_path(offer), class: 'btn btn-sm btn-success' %>
                        <%= link_to "Decline Offer", decline_offer_path(offer), class: 'btn btn-sm btn-danger' %>
                      <% else %>
                        <span class='<%= offer.stage_class %>'><%= offer.print_stage %></span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- .tab-pane# -->
        <div role="tabpanel" class="tab-pane transition fade scale" id="wishlist">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Listing</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% @wishlists.each do |listing| %>
                  <tr>
                    <td><%= link_to listing.title, listing %></td>
                    <td><%= listing.price %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div><!-- .tab-pane#whishlist -->
      </div><!-- .tab-content -->
    </div><!-- .col-sm-8 -->
  </div><!-- .row -->
</section><!-- .container -->
