<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @offer.listing.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @offer.user.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @offer.stage %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
