<section class="container padding-top-3x padding-bottom-2x">
      <h1>User Account</h1>
      <div class="row padding-top">
        <div class="col-md-4 padding-bottom">
										<h3>Login</h3>

												<%= render 'devise/sessions/form' %> 
								</div>
								<div class="col-md-4 col-md-offset-1">
										<h3>Signup</h3>
												<%= render 'devise/registrations/form' %>
								</div>
								<div class="col-md-3 padding-top-2x">
                  <a href="<%= user_facebook_omniauth_authorize_url %>" class="social-signup-btn ssb-facebook">
            <i class="socicon-facebook"></i>
            <span>Signup with Facebook</span>
          </a>
								</div><!-- .col-md-3 -->
						</div>
</section>
