<% @brands.each do |brand| %>
  <!-- Item -->
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="shop-item">
      <div class="shop-thumbnail">
        <%= link_to "", brand, class: 'item-link' %>
        <img src="https://placeholdit.co//i/315x315?">
        <div class="shop-item-tools">
          <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
            <i class="material-icons favorite_border"></i>
          </a>
        </div>
      </div>
      <div class="shop-item-details">
        <h3 class="shop-item-title"><%= link_to brand.name, brand %></h3>
      </div>
    </div><!-- .shop-item -->
  </div><!-- .col-md-4.col-sm-6 -->
<% end %>
