<p id="notice"><%= notice %></p>


<section class="container-fluid padding-top-3x">
  <h1 class="space-top-half tablet-center">Featured Designers <%= link_to "View All Designers", brands_path, class: 'btn btn-success pull-right' %></h1>
</section>

<section class="container-fluid padding-bottom-3x">
<div class='row'>
  <%= render 'brands/partials/brands_container' %>
</div>
</section>

<br>

<%= link_to 'New Brand', new_brand_path %>

