<p id="notice"><%= notice %></p>


<section class="container-fluid padding-top-3x">
  <h1 class="space-top-half tablet-center">All Designers</h1>
</section>

<section class="container-fluid padding-bottom-3x">
<div class='row'>
  <%= render 'brands/partials/brands_list_container' %>
</div>
</section>

<br>

<%= link_to 'New Brand', new_brand_path %>
