<!DOCTYPE html>
<html>
  <head>
    <title>Hunter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class='page-wrapper'>
			<%= render 'partials/navigation' %>
			<%= yield %>
			<%= render 'partials/footer' %>
		</div>
  </body>
</html>
